.kz-btn {

  width: 90%;
  margin: 4px;
}
.kz-input-text {
  margin-top: 3px;
  width:96%;
margin-left:6px
}
.kz-pad-20 {
padding: 20px;
}
.col-xs-3, .col-xs-9 {
padding: 0px;
}
.header-title{
  background-color: rgb(51 122 183);
  height: 70px;
  margin-bottom: 10px;
}
.header-title h2{
 text-align: center;
 padding-top: 19px;

}
.container-fluid{
  padding-left: 415px;}
h2{
  color: #ffff;
}

